body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #9c835f;
  left: 0px;
  top: 0px;
}

.back-page {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #724c21;
}

.games-logo {
  width: 72px;
  height: 72px;
  left: 119px;
  top: 27px;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav > li > p {
  width: 410px;
  height: 62px;
  left: 218px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #f9b23d;
  margin-top: 2.5rem;
  margin-left: 1rem;
}

.col > p {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}

.container > .row {
  text-align: center;
}

.container > .row > .col > img {
  padding: 0.5rem;
}

.vs > p {
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #bd0000;
}

.container > .row > .col > .batu {
  width: 108px;
  height: 92px;
}

.container > .row > .col > .kertas,
.container > .row > .col > .gunting {
  width: 82px;
  height: 120px;
}

.kertas-player {
  padding-left: 10%;
  margin-top: 6vh;
}

.kertas-com {
  padding-right: 10%;
  margin-top: 6vh;
}

.col > #refresh {
  width: 108px;
  height: 92px;
}

.col > .choice {
  cursor: pointer;
}

.col > .choice:hover {
  border: 3px solid #531345;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
}

.col > #refresh {
  cursor: pointer;
}

.col > #refresh:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid #531345;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
}

.hidden {
  border: 3px solid #531345;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
}
